// COLORS
$primary-color: #424858;
$secondary-color: #c31432;

$white-color: #232526;

$dark-grey: #232526;
$light-grey: #000000;

$dark-blue-text: #E6DADA; // For Headings

// FONT SIZE
$default-font-size: 1.8rem;
$big-font-size: 5rem;
$mid-font-size: 2.9rem;
