// COLORS
$primary-color: #db4f51;
$secondary-color: #2d3038;

$white-color: #ffcba8;

$dark-grey: #203A43;
$light-grey: #2C5364;

$dark-blue-text: #011d29; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
