// COLORS
$primary-color: #424858;
$secondary-color: #e25558;

$white-color: #f7c09e;

$dark-grey: #203d47;
$light-grey: #325f72;

$dark-blue-text: #042c3d; // For Headings

// FONT SIZE
$default-font-size: 1.8rem;
$big-font-size: 5rem;
$mid-font-size: 2.9rem;
